<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Digital Key</title>

    <!-- JQUERY -->
    <script src="js/jquery-2.2.1.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">

<link href="css/style2.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="container">
  <header>
    <div class="primary_header">
      <h1 class="title">Digital Key<button type="button" class="btn btn-primary">Button</button>
      </h1>
    </div>
    <nav class="secondary_header" id="menu">
      <ul>
        <li onclick="location.href='/manager';">MANAGER</li>
        <li onclick="location.href='/settings';">SETTINGS</li>
        <li onclick="location.href='/historical';">HISTORICAL</li>
        <li onclick="location.href='/permissions';">PERMISSIONS</li>
        <li onclick="location.href='/gates';">GATES</li>
        <li onclick="location.href='/users';">USERS</li>
      </ul>
    </nav>
  </header>
  <div class="row">
  </div>
  <div class="row blockDisplay">
<div class="column_half right_half"> </div>
  </div>
<footer class="secondary_header footer">
    <div class="copyright">&copy;2018 - <strong>DIGITAL KEY</strong></div>
  </footer>
</div>
</body>
</html>
